body, header, .uppercontent h2 {
    margin: 0;
    padding: 0;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}




header{
    padding: 20px 10%;
    display: flex;
    justify-content: space-between;
}

.links a, .logo, .uppercontent h2{
    color: #F9FAF8;
} 

.logo{
    font-size: 18px;
    font-weight: 800;
}

.logo img {
    width: 60px;
}

.links a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 550;
}

.links a:hover{
    color: #3882F6;
}




.uppercontent{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    padding: 80px;
    gap: 80px;
}

.uppercontent, header, footer{
    background-color: #1F2937;
}

.sideA{
    max-width: 400px;
}

.uppercontent h2{
    font-size: 48px;
    font-weight: extra-bold;
}

.uppercontent img{
    max-width: 700px;
    max-height: 350px;
    border-radius: 10px;
}

.uppercontent p{
    font-size: 16px;
    padding: 15px 0;
    color: #E5E7EB;
    word-wrap: break-word;
}

.uppercontent button{
    padding: 15px 45px;
    background-color: #3882F6;
    border-radius: 8px;
    border: 2px solid #3882F6;
    font-size: 14px;
    font-weight: 700;
    color: #E5E7EB;
}

.uppercontent button:hover{
    background-color: #1F2937;
    color: #3882F6;
    border: 2px solid #3882F6;
}




.midcontent {
    padding: 80px 10%;
    margin: 0;
}

.box img {
    width: 250px;
    height: 250px;
    border-radius: 8px;
    margin-bottom: 10px;
}

.box {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 15px;
    font-size: 16px;
    font-weight: 600;
}

.up h3 {
    text-align: center;
    font-size: 24px;
}

.down {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
}




.midcontent2 {
    background-color: #E5E7EB;
    padding: 80px;
    text-align: center;
}

.testomony {
    font-size: 36px;
    font-style: italic ;
    font-weight: light;
    color: #1F2937;
}

.testomony-author{
    font-size: 16px;
    font-weight: 600;
}




.lowercontent {
    padding: 80px 15%;
}

.info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-color: #3882F6;
    padding: 20px 40px;
    border: none;
    border-radius: 8px;
    color: #E5E7EB;
}

.info button{
    padding: 15px 45px;
    background-color: #3882F6;
    border-radius: 8px;
    border: 2px solid #E5E7EB;
    font-size: 14px;
    font-weight: 700;
    color: #E5E7EB;
}

.info button:hover{
    background-color: black;
    color: #F9FAF8;
    border: 2px solid black;
}




footer p {
    margin: 0;
    padding: 20px 10%;
    font-size: 14px;
    color: #E5E7EB;
    text-align: center;    
}